* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: rgb(216, 232, 248);
    margin: 10px;
    padding: 10px;
}

.container{
    text-align: center;
    width: 100%;
}

.container>button{
    padding: 5px;
    border: 1px solid white;
    background-color:white;
}