#border-1 {
    border: 7px solid black;
}

#border-2 {
    border: 5px solid black;
}

#border-3 {
    border: 1px solid black;
}

#border-4 {
    border: 5px solid black;
}

#border-5 {
    border: 9px solid black;
}