*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  background-color: #4956c9;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  margin:  5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3c4ba7;
}

span {
  font-size: 18px;
  margin: 0 10px;
}

p {
  font-size: 16px;
  margin-top: 20px;
}

