* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}