* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

section {
    border: 3px solid yellow;
    height: 200px;
}

div {
    background-color: orange;
    border: 1px solid black;
    width: 15%;
    float: left;
}

.box1 {
    height: 60%;
}

.box2 {
    height: 100%;
}

.box3, .box4 {
    height: 80%;
}