* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: gray;
    margin: 10px;
    text-align: center;
}

div {
    padding: 15px;
}

.item1,
.item4 {
    margin: 10px;
}

.item2,
.item3 {
    margin: 10px 20px;
}

.item1,
.item2,
.item3 {
    background-color: red;
    display: inline-block;
    height: 500px;
    width: 15%;
}

.item4 {
    background-color: blueviolet;
    display: inline-block;
    height: 500px;
    width: 45%;
}