* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    border: 3px solid black;
    height: 200px;
    width: 250px;
    margin: 5px;
}

.container2 {
    border: 3px solid red;
    position: relative;
    color: red;
    height: 100px;
    width: 200px;
}

.container3 {
    border: 3px solid blue;
    position: absolute;
    color: blue;
    width: 158px;
    height: 218.5px;
    margin: 16px 0;
}