* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px auto;
}

div {
    /* border: 2px solid black; */
    position: absolute;
}

.item1 {
    background-color: aqua;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
}

.item2{
    background-color: red;
    width: 200px;
    height: 300px;
    top: 150px;
    left: 180px;
}

.item3{
    background-color: sienna;
    width: 500px;
    height: 200px;
    top: 300px;
}

.item4{
    background-color: greenyellow;
    width: 150px;
    height: 400px;
    left: 450px;
}