* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    height: 20px;
}

aside {
    background-color: gray;
    width: 20%;
    height: 400px;
    float: left;
}

main {
    background-color: orange;
    width: 60%;
    height: 400px;
    float: left;
}

footer {
    background-color: greenyellow;
    height: 20px;
    clear: both;
}