* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
}

header, footer {
    background-color: darkturquoise;
    padding: 1% 2% 2% 4%;
    height: 50px;
}

aside {
    background-color: lightgreen;
    width: 30%;
    height: 500px;
    float: left;
    display: inline;
    margin: 10px 5px 10px 0;
}

article {
    background-color: coral;
    width: 69%;
    height: 500px;
    display: inline-block;
    margin: 10px 0 10px 5px;
}
img {
    background-color: burlywood;
    width: 200px;
    height: 200px;
}