.container {
    margin: 30px;
    padding: 30px;
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.container:hover {
    background-color: lightblue;
    color: gray;
    border-radius: 0;
}