@keyframes box {
    0% {
        background-color: blueviolet;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: red;
    }
}

div {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    animation-name: box;
    animation-duration: 4s;
}