.box {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: 50px auto;
}

.loader {
    height: 100px;
    width: 200px;
    background-color: blue;
}

.loader:hover {
    width: 350px;
}

.animateloader {
    height: 100px;
    width: 200px;
    background-color: blue;
    transition: width 2s;
}

.animateloader:hover {
    width: 350px;
}