div.one {

    width: 100px;
    height: 100px;
    background: red;
    transition: width 1s linear;
    transition-delay: 1s;
}

div.two {
    width: 100px;
    height: 100px;
    background: blue;
    transition: width 3s linear;
    transition-delay: 2s;
}

.container:hover .one {
    width: 300px;
}

.container:hover .two {
    width: 300px;
}