* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanier3 {
    background-color: coral;
    margin: 20px 40px 60px 40px;
    height: 60px;
}

.contanier2 {
    border: 20px solid blue;
    margin: 20px;
}

.contanier1 {
    border: 20px solid gray;
    border-radius: 10px;
    margin: 20px;
}